autostart/
cef_user_data/
dconf/
discord/
fontforge/
htop/
ibus/
kate/
neofetch/
nitrogen/
nwg-look/
pulse/
qalculate/
qt5ct/
rofi.kristian/
yay/
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
rofi/
Thunar/
Electron/
GIMP/
peazip/
xfce4/help.rc
