autostart/
cef_user_data/
dconf/
discord/
fontforge/
htop/
ibus/
kate/
neofetch/
nitrogen/
nwg-look/
pulse/
qalculate/
qt5ct/
rofi.kristian/
yay/
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
rofi/
Thunar/
Electron/
GIMP/
peazip/
xfce4/help.rc
QtProject.conf
Notepadqq/
Meltytech/
QtProject/
onlyoffice/
vlc/
libinput-gestures.conf
Altus/
zoom.conf
zoomus.conf
xfce4/
betterlockscreen/
btop/
gtk-2.0/
gtk-3.0/
viewnior/
VirtualBox/
yazi/
gtk-4.0/
font-manager/
